<div class="account-container">
    <app-back-button></app-back-button>
    <h1>Configuración de Cuenta</h1>
    <p class="subtitle">Podés actualizar tu correo electrónico o contraseña desde aquí.</p>

    <form [formGroup]="accountForm" (ngSubmit)="onSubmit()" novalidate>

        <div class="form-group">
            <label for="email">Correo electrónico</label>
            <input id="email" type="email" placeholder="tuemail@ejemplo.com" formControlName="email"
                [class.invalid]="email.invalid && email.touched" />
            @if (email.invalid && email.touched) {
            <div class="error-message">
                @if (email.errors?.['required']) { <small>El correo es obligatorio.</small> }
                @if (email.errors?.['email']) { <small>El formato del correo no es válido.</small> }
            </div>
            }
        </div>

        <div class="form-group">
            <label for="password">Nueva contraseña</label>
            <input id="password" type="password" placeholder="••••••••" formControlName="password"
                [class.invalid]="password.invalid && password.touched" />
            @if (password.invalid && password.touched) {
            <div class="error-message">
                @if (password.errors?.['minlength']) {
                <small>Debe tener al menos 6 caracteres.</small>
                }
            </div>
            }
        </div>

        <div class="form-group">
            <label for="confirmPassword">Confirmar contraseña actual</label>

            <div class="input-wrapper">
                <input id="confirmPassword" type="password" placeholder="Ingresa tu contraseña actual"
                    formControlName="confirmPassword"
                    [class.invalid]="confirmPassword.errors?.['passwordMismatch'] && confirmPassword.touched"
                    [class.loading]="confirmPassword.pending" />

                @if (confirmPassword.pending) {
                <div class="spinner"></div>
                }
            </div>

            @if (confirmPassword.errors?.['passwordMismatch'] && confirmPassword.touched) {
            <div class="error-message">
                <small>La contraseña actual no es correcta.</small>
            </div>
            }
        </div>

        <button type="submit" [disabled]="accountForm.invalid || accountForm.pending" class="submit-btn">
            Guardar cambios
        </button>


    </form>
</div>