
<section class="form-wrapper">
    <article class="category-preview">
             <app-category-card [category]="previewCategory"></app-category-card>
    </article>

    <form [formGroup]="form" (ngSubmit)="submitForm()" id="category-form" autocomplete="off">
        <!-- Name -->
        <fieldset>
            <label for="name-input">Nombre*</label>
            <input type="text" id="name-input" formControlName="name">

            @if(this.controls['name'].dirty) {
                @if (this.controls['name'].hasError("required") || this.controls['name'].hasError("pattern")) {
                    <h5>El nombre es obligatorio</h5>
                }@else if (this.controls['name'].hasError("minlength") || this.controls['name'].hasError("maxlength")) {
                    <h5>El nombre debe tener entre 2 y 50 caracteres</h5>
                }
            }
        </fieldset>

        <!-- Image -->
        <fieldset>
            <label for="image-input">Image URL</label>
            <input type="text" id="image-input" formControlName="imgUrl"
                placeholder="Ingrese la url de la imagen del producto">

            @if (this.controls['imgUrl'].dirty) {
                @if (this.controls['imgUrl'].hasError("maxlength")) {
                    <h5>La URL no puede superar los 200 caracteres</h5>
                }
            }
        </fieldset>

        <input type="submit" id="submit-button" value="Enviar" [disabled]="form.invalid">
    </form>
</section>
