<form [formGroup]="fg"
      class="search-bar search-wrapper"
      role="search"
      (submit)="onSubmit()">

  <input
    #searchInput
    formControlName="search"
    id="product-search"
    type="search"
    placeholder="Buscar productos"
    aria-label="Buscar productos"
    autocomplete="off"
  />

  <button type="submit" aria-label="Buscar">
   <i class="material-icons" style="color: white;">search</i>
  </button>

  @if (results.length) {
    <ul class="suggestions">
      @for (p of results; track p.id) {
        <li (click)="selectSuggestion(p)" title="{{ p.name }}">
          <i class="material-icons" style="color: rgb(235, 235, 235);">search</i>
          <span class="sugg-text">{{ p.name }}</span>
        </li>
      }
    </ul>
  }
</form>
