<div class="main-container">
    <aside class="summary-card">
        <app-back-button (click)="checkAndCancelTransaction()"></app-back-button>
        <h3>Resumen de compra</h3>
        @for (item of items; track item.id) {
        <div class="summary-block">
            <div class="summary-row">
                <span>
                    {{ item.product?.name }}
                    {{ item.quantity! > 1 ? '(' + item.quantity + ')' : '' }}
                </span>
                <span>{{ item.subtotal | currency:'ARS':'symbol':'1.0-2' }}</span>
            </div>
        </div>
        }

        <div class="summary-total">
            <span>Subtotal</span>
            <span class="total-amount">{{ total | currency:'ARS':'symbol':'1.0-2' }}</span>
        </div>

        <div class="summary-total">
            <span class="shipping-title">Costo de envio</span>
            @if (shippingCost === 0) {
            <span class="total-amount free-shipping">Envío gratis</span>
            } @else {
            <span class="total-amount">{{ shippingCost | currency:'ARS':'symbol':'1.0-2' }}</span>
            }
        </div>

        <div class="summary-total">
            <span>Total</span>
            <span class="total-amount">{{ finalTotal | currency:'ARS':'symbol':'1.0-2' }}</span>
        </div>

        <app-mercadopago-button [cartItems]="items"></app-mercadopago-button>
    </aside>
</div>